.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;

  > section {
    max-width: 450px;
    width: 450px;
  }

  > div {
    width: 353px;
    flex-shrink: 0;
  }
}
